@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;    

@layer base {
    body {
        @apply font-jost;
        @apply bg-[#0A0A17]; 
    }
}
@layer components {
    li.shield::marker {
        content: url(/public/svg/violet-shield-wo-shadow.svg);
        filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
        -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    }
    .diff-button {
    }
    .diff-button .button-content {
      opacity: 0%;
    }
    .diff-button:active .button-content {
      opacity: 100%;
    }
}